/assets/css/compiled/
/assets/lib/

/layouts/_default/_markup/*.html
/layouts/partials/picture.html
/layouts/shortcodes/figure.html
/layouts/shortcodes/screenshot.html

/exampleSite/content/docs/version-2/lighthouse.html
