{{ define "main" }}
  <article class="max-w-prose">
    <header>
      <h1 class="mt-0 text-4xl font-extrabold">{{ .Title }}</h1>
      <div class="mt-8 mb-12 text-base text-gray-400 dark:text-gray-500">
        {{ partial "meta.html" . }}
      </div>
    </header>
    <section class="prose dark:prose-light">
      {{ .Content | emojify }}
    </section>
    <footer>
      {{ partialCached "author.html" . }}
    </footer>
    {{/* Comments */}}
    {{ if templates.Exists "partials/comments.html" }}
      {{ partial "comments.html" . }}
    {{ end }}
  </article>
{{ end }}
