/* Slate scheme */
:root {
  --color-neutral: #fff;
  /* Cool Gray */
  --color-neutral-50: #F9FAFB;
  --color-neutral-100: #F3F4F6;
  --color-neutral-200: #E5E7EB;
  --color-neutral-300: #D1D5DB;
  --color-neutral-400: #9CA3AF;
  --color-neutral-500: #6B7280;
  --color-neutral-600: #4B5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;
  /* Cool Gray */
  --color-primary-50: #F9FAFB;
  --color-primary-100: #F3F4F6;
  --color-primary-200: #E5E7EB;
  --color-primary-300: #D1D5DB;
  --color-primary-400: #9CA3AF;
  --color-primary-500: #6B7280;
  --color-primary-600: #4B5563;
  --color-primary-700: #374151;
  --color-primary-800: #1F2937;
  --color-primary-900: #111827;
  /* Cool Gray */
  --color-secondary-50: #F9FAFB;
  --color-secondary-100: #F3F4F6;
  --color-secondary-200: #E5E7EB;
  --color-secondary-300: #D1D5DB;
  --color-secondary-400: #9CA3AF;
  --color-secondary-500: #6B7280;
  --color-secondary-600: #4B5563;
  --color-secondary-700: #374151;
  --color-secondary-800: #1F2937;
  --color-secondary-900: #111827;
}
