{{ if .Params.showPagination | default (.Site.Params.article.showPagination | default true) }}
  {{ if or .NextInSection .PrevInSection }}
    <div class="pt-8 article-pagination">
      <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
      <div class="flex justify-between pt-3">
        <span>
          {{ if .NextInSection }}
            <a class="flex" href="{{ .NextInSection.RelPermalink }}">
              <span class="mr-3 article-pagination-direction">&larr;</span>
              <span class="flex flex-col">
                <span class="article-pagination-title mt-[0.1rem] leading-6"
                  >{{ .NextInSection.Title | emojify }}</span
                >
                <span class="mt-[0.1rem] text-xs text-neutral-500 dark:text-neutral-400">
                  {{ if .Params.showDate | default (.Site.Params.article.showDate | default true) }}
                    {{ partial "meta/date.html" .NextInSection.Date }}
                  {{ end }}
                </span>
              </span>
            </a>
          {{ end }}
        </span>
        <span>
          {{ if .PrevInSection }}
            <a class="flex text-right" href="{{ .PrevInSection.RelPermalink }}">
              <span class="flex flex-col">
                <span class="article-pagination-title mt-[0.1rem] leading-6"
                  >{{ .PrevInSection.Title | emojify }}</span
                >
                <span class="mt-[0.1rem] text-xs text-neutral-500 dark:text-neutral-400">
                  {{ if .Params.showDate | default (.Site.Params.article.showDate | default true) }}
                    {{ partial "meta/date.html" .PrevInSection.Date }}
                  {{ end }}
                </span>
              </span>
              <span class="ml-3 article-pagination-direction">&rarr;</span>
            </a>
          {{ end }}
        </span>
      </div>
    </div>
  {{ end }}
{{ end }}
