{{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
  <div class="flex">
    {{ with .Site.Author.image }}
      <img class="w-24 h-24 !mt-0 !mb-0 mr-4 rounded-full" src="{{ . | relURL }}" />
    {{ end }}
    <div class="place-self-center">
      {{ with .Site.Author.name | markdownify | emojify }}
        <div class="text-[0.6rem] leading-3 text-neutral-400 dark:text-neutral-500 uppercase">
          {{ i18n "author.byline_title" | markdownify | emojify }}
        </div>
        <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
          {{ . }}
        </div>
      {{ end }}
      {{ with .Site.Author.bio | markdownify | emojify }}
        <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
      {{ end }}
      {{ partialCached "author-links.html" . }}
    </div>
  </div>
{{ end }}
