<ol class="text-sm text-neutral-400 dark:text-neutral-500">
  {{ template "crumb" (dict "p1" . "p2" .) }}
</ol>
{{ define "crumb" }}
  {{ if .p1.Parent }}
    {{ template "crumb" (dict "p1" .p1.Parent "p2" .p2 ) }}
  {{ else if not .p1.IsHome }}
    {{ template "crumb" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
  {{ end }}
  <li class="inline {{ if or (eq .p1 .p2) (.p1.IsHome) }}hidden{{ end }}">
    <a
      class="hover:underline hover:underline-neutral-300 dark:underline-neutral-600"
      href="{{ .p1.RelPermalink }}"
      >{{ .p1.Title }}</a
    ><span class="px-1 text-primary-500">/</span>
  </li>
{{ end }}
