{{- if .Site.Params.header.logo }}
  {{- $logo := resources.Get .Site.Params.header.logo }}
  {{- $logo_dark := resources.Get .Site.Params.header.logoDark }}
  {{- if $logo }}
    <a href="{{ "" | relLangURL }}" class="mr-2">
      <img
        src="{{ $logo.RelPermalink }}"
        {{- if eq $logo.MediaType.SubType "svg" }}
          width="25"
          height="25"
          class="m-0 p-0 object-scale-down object-left{{ if $logo_dark }} hidden dark:flex{{ end }}"
        {{- else }}  
          width="{{ div $logo.Width 2 }}"
          height="{{ div $logo.Height 2 }}"
          class="max-h-[10rem] max-w-[10rem] object-scale-down object-left{{ if $logo_dark }} hidden dark:flex{{ end }}"
        {{- end }}  
        alt="{{ .Site.Title }}"
      />
      {{- if $logo_dark }}
      <img
        src="{{ $logo_dark.RelPermalink }}"
        {{- if eq $logo_dark.MediaType.SubType "svg" }}
          width="25"
          height="25"
          class="m-0 p-0 object-scale-down object-left{{ if $logo }} !dark:hidden{{ end }}"
        {{- else }}
          width="{{ div $logo_dark.Width 2 }}"
          height="{{ div $logo_dark.Height 2 }}"
          class="max-h-[10rem] max-w-[10rem] object-scale-down object-left{{ if $logo }} !dark:hidden{{ end }}"
        {{- end }}
        alt="{{ .Site.Title }}"
      />
      {{- end}}
    </a>
  {{- end }}
{{- end }}
{{- if .Site.Params.header.showTitle | default true }}
  <a
    class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
    rel="me"
    href="{{ "" | relLangURL }}"
    >{{ .Site.Title | markdownify | emojify }}</a
  >
{{- end }}
