{{ $align := .align | default "center" }}
<section
  class="not-prose {{ if eq $align "start" }}
    items-start
  {{ else if eq $align "end" }}
    items-end
  {{ else }}
    items-center
  {{ end }} mb-3 flex flex-col"
>
  {{ $lazy := site.Params.enableImageLazyLoading | default true }}
  {{ $altText := (site.Language.Params.Author.name | default "Author") }}
  {{ with site.Language.Params.Author.image }}
    {{ $authorImage := resources.Get . }}
    {{ if $authorImage }}
      {{ $imgClass := "mb-2 h-auto w-36 rounded-full" }}
      {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
    {{ end }}
  {{ end }}
  <h1 class="text-4xl font-extrabold">
    {{ site.Language.Params.Author.name | default site.Title }}
  </h1>
  {{ with site.Language.Params.Author.headline }}
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
      {{ . | markdownify | emojify }}
    </h2>
  {{ end }}
  <div class="mt-1 text-2xl">
    {{ partialCached "author-links.html" . }}
  </div>
</section>
