<header class="py-6 font-semibold text-neutral-900 dark:text-neutral print:hidden sm:py-10">
  <nav class="flex items-start justify-between sm:items-center">
    {{/* Site logo/title */}}
    <div class="z-40 flex flex-row items-center">
      {{ partial "logo.html" . }}
    </div>
    {{/* Hamburger menu */}}
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <label id="menu-button" for="menu-controller" class="block">
        {{ partial "header/hamburger/hamburger-content.html" }}
      </label>
    {{ end }}
  </nav>
</header>
